<div class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="nav-devider"></li>
                <li class="nav-label">Home</li>
                    <li>
                        <a class="has-arrow  " href="#" aria-expanded="false">
                            <i class="fa fa-tachometer"></i>
                            <span class="hide-menu">Dashboard</span>
                        </a>
                    </li>
                    <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-envelope"></i><span class="hide-menu">Users</span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li><a href="#">Manage Users</a></li>
                            <li><a href="#">Business</a>
                                <ul aria-expanded="false" class="collapse">
                                    <li><a href="">Manage Business</a></li>
                                    <li><a href="">Manage Business Service</a></li>
                                </ul>
                            </li>
                            <li><a href="">Manage Company</a></li>
                            <li><a href="">Manage Subscriber</a></li>
                        </ul>
                    </li>
                    <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-bar-chart"></i><span class="hide-menu">Listings</span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li><a href="">Manage Listings</a></li>
                            <li><a href="">Listing Seller</a></li>
                            <li><a href="">Market Boss >> Manage Interested Listings</a></li>
                        </ul>
                    </li>
                    <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-suitcase"></i><span class="hide-menu">Templates</span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li><a href="">Message templates</a></li>
                            <li><a href="">Notification templates</a></li>
                        </ul>
                    </li>
                    <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-suitcase"></i><span class="hide-menu">System</span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li><a href="">Settings</a></li>
                            <li><a href="">Cache</a></li>
                            <li><a href="">Session</a></li>
                            <li><a href="">Phpinfo</a></li>
                        </ul>
                    </li>
                    <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-wpforms"></i><span class="hide-menu">Utils</span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li><a href="">Base 64</a></li>
                            <li><a href="">UI Manager - Generate URL</a></li>
                            <li><a href="">UI Manager - Calendar</a></li>
                            <li><a href="">UI Manager - Master Template</a></li>
                            <li><a href="">Features - Manage</a></li>
                            <li><a href="">Features - Manage Invitation Code</a></li>
                            <li><a href="">Features - Generate Invitation Code</a></li>
                            <li><a href="">Features - Bulk Invitation</a></li>
                        </ul>
                    </li>
                    <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-table"></i><span class="hide-menu">Signup</span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li><a href="">Manage</a></li>
                            <li><a href="">Newsletter</a></li>
                        </ul>
                    </li>
                    <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-columns"></i><span class="hide-menu">Service</span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li><a href="">Service Management</a></li>
                            <li><a href="">Quick Order Management</a></li>
                            <li><a href="">Order Management</a></li>
                            <li><a href="">Settings</a></li>
                        </ul>
                    </li>
                    <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-map-marker"></i><span class="hide-menu">RFP</span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li><a href="">Request Lender</a></li>
                            <li><a href="">Request Marketing</a></li>
                            <li><a href="#">Seller Jouney</a>
                                <ul aria-expanded="false" class="collapse">
                                    <li><a href="">Seller - Steps Management </a></li>
                                    <li><a href="">Seller - Content Management </a></li>
                                </ul>
                            </li>
                            <li><a href="#">Buyer Jouney</a>
                                <ul aria-expanded="false" class="collapse">
                                    <li><a href="">Buyer - Self-prequals</a></li>
                                    <li><a href="">Buyer - Self-prequals Result</a></li>
                                </ul>
                            </li>
                            <li><a href="">RFP Settings</a></li>
                        </ul>
                    </li>
                    <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-level-down"></i><span class="hide-menu">Other</span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li> <a href="" aria-expanded="false">Buyer - Self-prequals Result</a></li>
                            <li> <a href="" aria-expanded="false">Contact</a></li>
                            <li> <a href="" aria-expanded="false">Onboarding Screens</a></li>
                            <li> <a href="" aria-expanded="false">Articles</a></li>
                            <li> <a href="" aria-expanded="false">Testimonial</a></li>
                            <li> <a href="" aria-expanded="false">Dynamic Link</a></li>
                            <li> <a href="" aria-expanded="false">Faqs</a></li>
                            <li> <a href="" aria-expanded="false">Challenges</a></li>
                            <li> <a href="" aria-expanded="false">Restaurants</a></li>
                            <li> <a href="" aria-expanded="false">API KEY Management</a></li>
                            <li> <a href="" aria-expanded="false">Media</a></li>
                        </ul>
                    </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</div>